div.row{
    margin: -30px 60px 60px 60px;
}
div.jumbotron{
    position: relative;
    top: -80px;
}
div.col-lg-4{
    margin-bottom: 30px;
}
div.card{
    background-color: #243447;
    height: 420px;
}
div.card:hover img{
    opacity: 0.7;
    transition: 0.4s;
    cursor: pointer;
}
div.card-body, div.card-footer{
    padding: 0 10px;
}
img{
    width: 100%;

}
