body {
    font: 400 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #818181;
    background-color: #141D27
}
h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 600;
	margin-bottom: 30px;
}
h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: #FFFFFF;
	font-weight: 400;
	margin-bottom: 30px;
}  
p{
	line-height: 1.375em;
	color: #FFFFFF;
	font-weight: 400;
	margin-bottom: 30px;
}
i{
	color: #FFFFFF;
}
.jumbotron {
	background-color: #243447;
	height: 200px;
	color: #fff;
	font-family: Montserrat, sans-serif;
}
.container-fluid {
	padding: 60px 50px;
}
.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}
.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
.navbar {
	margin-bottom: 0;
	background-color: #243447;
	z-index: 9999;
	border: 0;
	font-size: 12px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 4px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
	color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
	color: #f4511e !important;
	background-color: #fff !important;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}
footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #ffffff;
}
#about{
	width: 85%;
}
#services{
	padding: 10px 50px 90px 50px;

}
footer{
	background-color: #243447;
}

@media screen and (max-width: 768px){
	.jumbotron{
		top: -10px;
	}
}