<table style="padding:0 4px 0 4px">
    <tbody><tr style="background-color:#fffc00;height:88px">
        <td style="background:url(https://ci3.googleusercontent.com/proxy/hSFAc1UhX8IT6VfzSZSlUrQEjLPl6HxRtvRah8y9gIcFVv7KPwJtlJhjU76q1-fJZZKcGOPkMDK9VPqtbmp9W2QCvTBKSA=s0-d-e1-ft#http://storage.googleapis.com/email-media/ghost.png) no-repeat center">
        </td>
    </tr>
    <tr>
        <td style="padding-top:24px;padding-left:10px;padding-right:10px">
            Hi there,
        </td>
    </tr>
    <tr>
        <td style="padding-top:8px;padding-left:10px;padding-right:10px">
            This message is to confirm that the Snapchat account with the username <span style="font-weight:bold">endrinm</span> belongs to you. Verifying your email address helps you secure your account. If you forget your password, you will now be able to reset it by email.
        </td>
    </tr>
    <tr>
        <td style="padding-top:8px" align="center">
            <br>
            To confirm that this is your Snapchat account, click here:
        </td>
    </tr>
    <tr>
        <td align="center">
            <a href="https://accounts.snapchat.com/accounts/confirm_email?n=YDS-2Lsct0TKTaY2" style="color:#ffffff;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://accounts.snapchat.com/accounts/confirm_email?n%3DYDS-2Lsct0TKTaY2&amp;source=gmail&amp;ust=1589054274478000&amp;usg=AFQjCNHLMFlW00l2zR7QQQgYa9VZfdb9sQ">
                <table align="center" valign="middle" border="0" cellpadding="0" cellspacing="0" style="background-color:#03a588;border:1px solid #03a588;border-radius:4px;margin-top:8px;width:50%">
                    <tbody><tr>
                        <td align="center" valign="middle" style="color:#ffffff;font-size:16px;font-weight:bold;padding-top:15px;padding-right:30px;padding-bottom:15px;padding-left:30px">
                            Confirm Email
                        </td>
                    </tr>
                    </tbody></table>
            </a>
        </td>
    </tr>
    <tr>

        <td style="padding-top:8px;padding-left:10px;padding-right:10px;font-size:12px">

            <br>
            If you are having trouble clicking the 'Confirm Email' button, please copy and paste <a href="https://accounts.snapchat.com/accounts/confirm_email?n=YDS-2Lsct0TKTaY2" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://accounts.snapchat.com/accounts/confirm_email?n%3DYDS-2Lsct0TKTaY2&amp;source=gmail&amp;ust=1589054274478000&amp;usg=AFQjCNHLMFlW00l2zR7QQQgYa9VZfdb9sQ">https://accounts.snapchat.com/<wbr>accounts/confirm_email?n=YDS-<wbr>2Lsct0TKTaY2</a> into your web browser.
        </td>
    </tr>
    <tr>

        <td style="padding-top:8px;padding-left:10px;padding-right:10px">

            <br>
            If this is not your Snapchat account or you did not sign up for Snapchat, please <a href="https://accounts.snapchat.com/accounts/confirm_email?n=YDS-2Lsct0TKTaY2&amp;notMyAccount=true" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://accounts.snapchat.com/accounts/confirm_email?n%3DYDS-2Lsct0TKTaY2%26notMyAccount%3Dtrue&amp;source=gmail&amp;ust=1589054274478000&amp;usg=AFQjCNEbZgS5spklrd7ojNSPQ2B3sM0juQ">click here</a> to remove your email address from this account.
        </td>
    </tr>
    <tr>
        <td style="padding-top:24px;padding-left:10px;padding-right:10px">
            Thanks,
        </td>
    </tr>
    <tr>
        <td style="padding-left:10px;padding-right:10px">
            Team Snapchat
        </td>
    </tr>
    <tr>
        <td style="padding-top:30px">
        </td>
    </tr>
    <tr>
        <td style="padding-left:10px;padding-right:10px">
            <a href="https://support.snapchat.com/" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://support.snapchat.com/&amp;source=gmail&amp;ust=1589054274478000&amp;usg=AFQjCNEA6-6-gCXQX3kXbRStslUNVURDUQ">support.snapchat.com</a>
        </td>
    </tr>

    <tr>
        <td style="padding-left:10px;padding-right:10px">
            Snapchat Inc., 63 Market St., Venice, CA 90291
        </td>
    </tr>

    <tr>
        <td> <img src="https://ci6.googleusercontent.com/proxy/c5naA3Euc0OlU9hJVbexaoc9XPL5JgZODK7XZpKpq2lTZITNNhbiy-xxYzv0gtjXLxfmcJVN-de6Lf-9LmI6dWHx7p_dWRY=s0-d-e1-ft#http://storage.googleapis.com/email-media/footer.png" width="100%" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 997px; top: 1237px;"><div id=":ro" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div><font color="#888888">  </font></td></tr></tbody></table>