<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
	<link rel="stylesheet" type="text/css" href="../style/register.css">
</head>
<body style="height: 100%">
<div class="row">
	<div class="col-sm-8 cols column-one">
		<div class="text-cont">
			<h1 class="create-acc-h1">Create an account</h1>
			<h3 class="create-acc-h3"> Join our community and pick the car of your dreams</h3>
		</div>
	</div>
    <div class="col-sm-4 cols column-two">
        <div class="card">
            <a href="/"><img src="../images/logo-fed.png" style="width: 100%"></a>
            <div class="card-body">
                <form class="form-horizontal" method="post" action="/registerPost">
                    <div class="form-group">
                        <label for="name" class="control-label">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="firstname" placeholder="Enter your First Name" />
                    </div>
                    <div class="form-group">
                        <label for="name" class="control-label">Last name</label>
                        <input type="text" class="form-control" name="lastName" id="lastname" placeholder="Enter your Last Name" />
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>                     
                        <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">Username</label>                         
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="At least 8 characters long" pattern="[a-z]{8,16}"/>
                    </div>
                    <div class="form-group">
                        <label for="age" class="cols-sm-2 control-label">Age</label>
                        <input type="number" class="form-control" name="age" id="age" placeholder="Enter your age" />
                  	</div>
                  	<div class="form-group">
                        <label for="city" class="cols-sm-2 control-label">City</label>                  
                        <select id="city" name="city" class="form-control">
						  <option value="Prishtina">Prishtina</option>
						  <option value="Peja">Peja</option>
						  <option value="Mitrovica">Mitrovica</option>
						  <option value="Ferizaj">Ferizaj</option>
						  <option value="Gjakova">Gjakova</option>
						  <option value="Gjilan">Gjilan</option>
						</select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
                        <p style="color: #FFFFFF; margin-top: 10px">Already a member? <a href="/login">Login</a></p>
                        <% if (regMessage) {%>
                            <p style="color: #C51F5D; width: fit-content"><%= 'Username or password taken' %></p>
                        <% }%>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>