<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    div.jumbotron{
        height: 100%;
        margin: auto;
        padding: 15%;
        background-color: #141D26;
    }
    h1, p, hr{
        color: #FFFFFF;
    }
    a.btn{
        background-color: #00acee;
        padding: 10px 25px;
        font-size: 15px;
        border-radius: 35px;
    }
    a.btn:hover{
        background-color: #00acee !important;
    }
    a.btn:focus{
        background-color: #00acee !important;
        border: none;
    }
</style>
<div class="jumbotron text-center">
    <h1 class="display-4">Thank You for choosing FEDAutos!</h1>
    <p class="lead"><strong>Please check your email</strong> to find an invoice for you transaction.</p>
    <hr style="background-color: #C51F5D">
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary" href="/">Continue to homepage</a>
    </p>
</div>